DJANGO_DEBUG=False
DJANGO_SECRET_KEY=replace-with-at-least-50-random-characters
DJANGO_ALLOWED_HOSTS=jshs-shs.com,www.jshs-shs.com
CSRF_TRUSTED_ORIGINS=https://jshs-shs.com,https://www.jshs-shs.com
CORS_ALLOWED_ORIGINS=https://jshs-shs.com
FRONTEND_URL=https://jshs-shs.com
DJANGO_TIME_ZONE=Asia/Manila

DATABASE_ENGINE=postgresql
DATABASE_NAME=erepository
DATABASE_USER=erepository
DATABASE_PASSWORD=replace-with-a-long-unique-database-password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_CONN_MAX_AGE=60

DJANGO_MEDIA_ROOT=D:\eRepository\data\media
DJANGO_STATIC_ROOT=D:\eRepository\backend\staticfiles
MAX_DOCUMENT_SIZE=52428800

GOOGLE_OAUTH_CLIENT_ID=replace-with-google-client-id.apps.googleusercontent.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=JSHS eRepository <noreply@jshs-shs.com>
SERVER_EMAIL=JSHS eRepository <noreply@jshs-shs.com>
EMAIL_HOST=smtp.your-email-provider.com
EMAIL_PORT=587
EMAIL_HOST_USER=noreply@jshs-shs.com
EMAIL_HOST_PASSWORD=replace-with-smtp-password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_TIMEOUT=15

API_ANON_RATE=60/hour
API_USER_RATE=1000/hour
API_LOGIN_RATE=10/minute
API_REGISTRATION_RATE=5/hour
API_GOOGLE_AUTH_RATE=10/minute
API_PASSWORD_RESET_RATE=5/hour

SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
