Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
djangorestframework-simplejwt>=5.5,<5.6
django-cors-headers>=4.7,<5
django-filter>=25.1,<26
pyotp>=2.9,<3
qrcode[pil]>=8.2,<9
Pillow>=11.2,<12
google-auth[requests]>=2.40,<3
